import * as S from "./{{name}}.styles";

export type {{pascalCase name}}Props = {
  example: string;
};

function {{pascalCase name}}() {
  return (
    <S.Wrapper>
      <h1>{{name}}</h1>
    </S.Wrapper>
  );
}

export default {{pascalCase name}};
